# Python
venv/
venv_new/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/

# Terraform
terraform/
*.tfstate
*.tfstate.*
.terraform/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
node_modules/
